.details {
    width: 100%;
    min-height: 128px;
    height: 100%;
    background: rgba(255,255,255,0.5);
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error {
    padding: 0;
    margin-bottom: 0rem;
    display: flex;
    justify-content: center;
}

.avatar {
    padding: 2rem 0 0 0;
    margin-bottom: 0rem;
    display: flex;
    justify-content: center;
}

.w-100 {
    width: 100%;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}
  
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

.padding-left {
    padding-left: 1.5rem;
    padding-top: 1rem;
}

.text-align-center {
    text-align: center;
}

.align-center {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 56.2em) { 
    .details {
        padding: 0.5rem;
        margin-top: 1rem;
    }
}