nav {
    height: 4rem;
    width: 100%;
    background: #030338;
    box-shadow: 0 5px 15px #00000033;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .text-align-center {
    color: white;
    font-weight: 700;
}